{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 160,
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
